body{
	background-color: LightBlue;
}

h1{
	text-align: center;
}
p{

	font-family: cursive;
}
ol{
	font-family: cursive;
}
ul{
	font-family: cursive;
}

.img1{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.img2{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}